<div id="condition-graph-chart">
   <ul id="graph-y-axes">
      <li><span>良好</span>/<span>高</span></li>
      <li><span>普通</span>/<span>中</span></li>
      <li><span>注意</span>/<span>低</span></li>
   </ul>
   <div id="graph-chart-frame">
      <%= line_chart line_params(@conditions), line_option %>
   </div>
</div>
