<div id="container-single">
   <div id="convention" class="content-box">
      <div class="content-header">
         <p>利用規約</p>
      </div>
      <p>Active Reco Bookのご利用にあたっては、以下の内容をお読みいただき、
         同意いただいたうえで、ご利用いただけますようお願いいたします。</p>
      <p class="content-section">1)定義</p>
      <p>1.「Active Reco Book」(以下、当サイトといいます)は「Shantti_Y」(以下、管理人といいます)が提供する、ユーザーが
      仕事、学習の状況を記録や報告をし、評価もしくは助言を受け取ることでユーザ本人の成長を促すための情報管理サービスの
      総称をいいます。</p>
      <p>2.「ユーザ」は、当サイト内のサービスを利用する権限を持った者の総称をいい、利用する権限を「ユーザアカウント」といいます。
      ユーザもしくはユーザアカウントは「レギュラーユーザ」と「サポートユーザ」の二種類に分けられ、それぞれ当サイト内での役割と
      利用できる機能が異なります。</p>
      <p>3.「レギュラーユーザ」は、レギュラーユーザアカウントを割り当てられたユーザをいい、仕事状況の記録、サーベイの回答、
      通信教育の学習およびこれらに関連する投稿の入力やその結果の閲覧を行うことができます。</p>
      <p>4.「サポートユーザ」は、サポートユーザアカウントを割り当てられたユーザをいい、レギュラーユーザアカウントを所持する
      利用者の投稿の閲覧、もしくはそれに対するコメント入力を行うことができます</p>
      <p class="content-section">2)ユーザ</p>
      <p>1. 本規約における「ユーザ」とは、管理人の指定する手続きに基づき、本規約を承諾のうえ、当サイトの利用を申し込み、管理人が
      これを承認したものとします。当サイトの会員登録および承認を受けたユーザは、当サイトにおける会員向けサービスを利用できるものとします。</p>
      <p>2. ユーザは会員登録をした時点で、本規約の内容をすべて承諾したものとみなされます。承諾しない場合、その意思表示は当サイトの
      サービスを利用しない事をもってのみ証明できるものとします。</p>
      <p>3. 管理人が会員として承認する事を不適切と判断した場合、入会を認めない場合があります。また承認後でも管理人が不適切と
      判断した時点で承認を取り消す場合があります。</p>
      <p>4. 会員が、自身が登録した個人情報のうち、メールアドレスに誤りがあったために第三者からクレーム、または削除依頼があった場合は、
      管理人が事前の通知なしに当該メールアドレスを削除することにつき、会員は承諾するものとします。</p>
      <p>5. 以下の項目に該当すると管理人が判断した場合、事前通告なく会員登録承認の取り消し、および会員登録の取り消しを行うものとし、
      当該会員に対して、当サイトの一部あるいはすべてのサービス利用停止の措置をとる事ができます。</p>
      <p>　(1). 申込者が本規約の遵守を怠った、あるいはその恐れが認められる場合</p>
      <p>　(2). 管理人による当サイトの運営を妨げる、信頼を毀損、あるいはその恐れが認められる場合</p>
      <p>　(3). 当サイト利用の際に登録する事項が、故意・過失にかかわらず、虚偽・不十分・不正確である場合</p>
      <p>6. 管理人が運営、提供するサービスでは、以下の項目を禁止いたします。違反した場合、2)ユーザ中の第5項目に従い
      当該会員の登録取り消しを行います。</p>
      <p>　(1). 他社の権利を侵害する行為(ストーカー、誹謗中傷含む)</p>
      <p>　(2). 他社の名誉を棄損する行為</p>
      <p>　(3). 他社の個人情報や他者に属する著作権を侵害する表現を、当該人物の許可なく他の会員といった第三者に送付・伝達する行為</p>
      <p>　(4). 政治活動、宗教活動、またはこれらにつながる行為</p>
      <p>　(5). 自らの個人情報を偽る行為</p>
      <p>　(6). 営利を目的として行う行為</p>
      <p>　(7). 公序良俗に反する行為、またはこれに関係するすべての行為</p>
      <p>　(8). 法令、法律違反、またはこれに関連するすべての行為</p>
      <p>　(9). サービスの目的に反する行為</p>
   </div>
</div>
