<div id="container-single">
   <div id="convention" class="content-box">
      <div class="content-header">
         <p>利用規約</p>
      </div>
      <p>Active Reco Book(以下、当サイトといいます)のご利用にあたっては、以下の内容をお読みいただき、
         同意いただいたうえで、ご利用いただけますようお願いいたします。</p>
      <p class="convention-section">1)個人情報</p>
   </div>
</div>
