<div id="container-left">
   <%= render('shared/user_status') %>
</div>

<div id="container-right">
   <div id="condition-summary" class="content-box">

   </div>

   <div id="posts">
      <div class="post content-box">
         <div class="post-main">
            <div class="post-imgs">
               <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="" class="post-thumbnail">
               <div class="post-condition">
                  <p class="post-condition-about">状況</p>
                  <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="">
                  <p class="post-condition-result">手一杯</p>
               </div>
            </div>
            <div class="post-contents">
               <ul class="post-header">
                  <li class="post-user">朝倉俊介さんの投稿</li>
                  <li class="post-posted-at">2016/11/16 12:29更新</li>
                  <li class="post-command">
                     <a href="#"><i class="fa fa-pencil"></i></a>
                     <a href="#"><i class="fa fa-trash-o"></i></a>
                  </li>
               </ul>
               <p class="post-category">情報共有</p>
               <p class="post-line">おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。</p>
            </div>
         </div>
         <div class="post-reaction">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>いいね<span>2</span></a>
            <a href="#"><i class="fa fa-flag-o"></i>見たよ<span>2</span></a>
            <a href="#"><i class="fa fa-comment-o"></i>コメント<span>2</span></a>
         </div>
      </div>

      <div class="post content-box">
         <div class="post-main">
            <div class="post-imgs">
               <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="" class="post-thumbnail">
               <div class="post-condition">
                  <p class="post-condition-about">状況</p>
                  <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="">
                  <p class="post-condition-result">手一杯</p>
               </div>
            </div>
            <div class="post-contents">
               <ul class="post-header">
                  <li class="post-user">朝倉俊介さんの投稿</li>
                  <li class="post-posted-at">2016/11/16 12:29更新</li>
                  <li class="post-command">
                     <a href="#"><i class="fa fa-pencil"></i></a>
                     <a href="#"><i class="fa fa-trash-o"></i></a>
                  </li>
               </ul>
               <p class="post-category">情報共有</p>
               <p class="post-line">おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。</p>
            </div>
         </div>
         <div class="post-reaction">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>いいね<span>2</span></a>
            <a href="#"><i class="fa fa-flag-o"></i>見たよ<span>2</span></a>
            <a href="#"><i class="fa fa-comment-o"></i>コメント<span>2</span></a>
         </div>
      </div>

      <div class="post content-box">
         <div class="post-main">
            <div class="post-imgs">
               <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="" class="post-thumbnail">
               <div class="post-condition">
                  <p class="post-condition-about">状況</p>
                  <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="">
                  <p class="post-condition-result">手一杯</p>
               </div>
            </div>
            <div class="post-contents">
               <ul class="post-header">
                  <li class="post-user">朝倉俊介さんの投稿</li>
                  <li class="post-posted-at">2016/11/16 12:29更新</li>
                  <li class="post-command">
                     <a href="#"><i class="fa fa-pencil"></i></a>
                     <a href="#"><i class="fa fa-trash-o"></i></a>
                  </li>
               </ul>
               <p class="post-category">情報共有</p>
               <p class="post-line">おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。</p>
            </div>
         </div>
         <div class="post-reaction">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>いいね<span>2</span></a>
            <a href="#"><i class="fa fa-flag-o"></i>見たよ<span>2</span></a>
            <a href="#"><i class="fa fa-comment-o"></i>コメント<span>2</span></a>
         </div>
      </div>

      <div class="post content-box">
         <div class="post-main">
            <div class="post-imgs">
               <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="" class="post-thumbnail">
               <div class="post-condition">
                  <p class="post-condition-about">状況</p>
                  <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="">
                  <p class="post-condition-result">手一杯</p>
               </div>
            </div>
            <div class="post-contents">
               <ul class="post-header">
                  <li class="post-user">朝倉俊介さんの投稿</li>
                  <li class="post-posted-at">2016/11/16 12:29更新</li>
                  <li class="post-command">
                     <a href="#"><i class="fa fa-pencil"></i></a>
                     <a href="#"><i class="fa fa-trash-o"></i></a>
                  </li>
               </ul>
               <p class="post-category">情報共有</p>
               <p class="post-line">おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。</p>
            </div>
         </div>
         <div class="post-reaction">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>いいね<span>2</span></a>
            <a href="#"><i class="fa fa-flag-o"></i>見たよ<span>2</span></a>
            <a href="#"><i class="fa fa-comment-o"></i>コメント<span>2</span></a>
         </div>
      </div>

      <div class="post content-box">
         <div class="post-main">
            <div class="post-imgs">
               <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="" class="post-thumbnail">
               <div class="post-condition">
                  <p class="post-condition-about">状況</p>
                  <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" alt="">
                  <p class="post-condition-result">手一杯</p>
               </div>
            </div>
            <div class="post-contents">
               <ul class="post-header">
                  <li class="post-user">朝倉俊介さんの投稿</li>
                  <li class="post-posted-at">2016/11/16 12:29更新</li>
                  <li class="post-command">
                     <a href="#"><i class="fa fa-pencil"></i></a>
                     <a href="#"><i class="fa fa-trash-o"></i></a>
                  </li>
               </ul>
               <p class="post-category">情報共有</p>
               <p class="post-line">おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。おはようございます。
                  おはようございます。おはようございます。おはようございます。おはようございます。</p>
            </div>
         </div>
         <div class="post-reaction">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>いいね<span>2</span></a>
            <a href="#"><i class="fa fa-flag-o"></i>見たよ<span>2</span></a>
            <a href="#"><i class="fa fa-comment-o"></i>コメント<span>2</span></a>
         </div>
      </div>
   </div>
</div>
