<div id="container-left">
   <%= render('shared/user_status') %>
</div>

<div id="container-right">
   <div id="condition-summary" class="content-box">
      こころチェックの状況を定義
   </div>
   <div id="posts">
      <%= render 'posts/posts' %>
   </div>
</div>
