<% if request.path_info = new_reaction_path %>
   <%= link_to reaction_path(@post), method: :delete, remote: true do %><i class='fa fa-thumbs-o-up'></i><span class='reaction-str'>いいね</span><span><%= @post.reactions.count %></span><% end %>
<% else %>
   <%= link_to reaction_path(@post), remote: true do %><i class='fa fa-thumbs-o-up'></i><span class='reaction-str'>いいね</span><span><%= @post.reactions.count %></span><% end %>
<% end %>
