<% if !current_user.reactions.find_by(post_id: @post.id).nil? %>
   <%= link_to reaction_path(@post), method: :delete, class: 'reaction-reacted', remote: true do %><i class="fa fa-thumbs-o-up"></i><span class="reaction-str">いいね</span><span><%= @post.reactions.count %></span><% end %>
<% else %>
   <%= link_to reaction_path(@post), class: 'reaction-default', remote: true do %><i class='fa fa-thumbs-o-up'></i><span class='reaction-str'>いいね</span><span><%= @post.reactions.count %></span><% end %>
<% end %>
