<% if object.errors.any? %>
  <div id="error-messages">
    <div id="error-count">
      <p>Founded <%= pluralize(object.errors.count, 'error') %></p>
    </div>
    <ul id="error-message">
      <% object.errors.full_messages.each do |msg| %>
        <li>・<%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
