<div id="user-profile" class="content-box">
   <img src="https://www.causes.com/assets/avatar_placeholder-9a2f53db6270aa02b5ae2c5af1ffc72b.svg" id="user-thumbnail">
   <div id="user-information">
      <p id="user-name"><%= @user.name %>  さん</p>
      <p id="user-division"><%= @user.division %></p>
      <a href="#">編集する</a>
      <ul id="user-archivements">
         <li class="user-archivement">
            <p class="section">投稿<span class="count">12</span></p>
         </li>
         <li class="user-archivement">
            <p class="section">診断<span class="count">6</span></p>
         </li>
         <li class="user-archivement">
            <p class="section">学習<span class="count">4</span></p>
         </li>
      </ul>
   </div>
</div>

<div id="user-learning" class="content-box">
   <p>Webラーニングシステムの進行状況を定義</p>
</div>
