<div id="container-single">
   <div id="password-reset" class="content-box">
      <div class="content-header">
         <p>パスワードの再発行</p>
      </div>

      <div id="login-form">
         <p>以下の登録情報を入力して、パスワードを再発行していください</p>
         <%= form_for(:password_reset, url: password_reset_path) do |f| %>
            <div id="form-inputs">
               <i class="fa fa-envelope"></i>
               <%= f.text_field :email, placeholder: 'Eメールアドレス', class: 'form-input form-session'  %>
               <i class="fa fa-address-card-o"></i>
               <%= f.text_field :employee_number, placeholder: '社員番号(必須)', class: 'form-input form-user' %>
            </div>
            <div id="form-submit">
               <%= f.submit 'パスワード再発行', class: 'btn form-submit' %>
            </div>
         <% end %>
      </div>

   </div>
</div>
