/************************************************


                     Variables



************************************************/
$media-desktop: 920px;
$media-tablet: 768px;
$media-phone: 450px;

$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;


/************************************************


                  Input forms



************************************************/

.comment-form {
   padding-top: 4px;

   .form-line {
      margin: 12px 0;
      .form-input {
         width: calc(100% - 20px);
         padding: 4px 9px;
         min-height: 60px;
      }
   }
}

@media (min-width: $media-phone){
   .comment-form {
      .form-line {
      }
   }
}
