/************************************************


                     Variables



************************************************/
$media-desktop: 920px;
$media-tablet: 768px;
$media-phone: 450px;

/************************************************


                  MainContents



************************************************/

#container {
   z-index: 0;
   box-sizing: border-box;
   padding-top: 60px;
   width: 100%;
   margin: 0 11px;
   position: relative;


   #container-left {
      box-sizing: border-box;
      width: calc(100% - 22px);
   }

   #container-right {
      box-sizing: border-box;
      width: calc(100% - 22px);
   }
}

@media (min-width: $media-phone){
   #container {

      #container-left {
         box-sizing: border-box;
         width: calc(100% - 22px);
         overflow: hidden;
         .content-box {
            display: inline-block;
         }
         #user-profile {
            width: 210px;
         }
         #user-learning {
            width: calc(100% - 210px - 11px);
            margin-left: 6px;
         }
      }
   }
}


@media (min-width: $media-tablet){
   #container {
      width: 100%;
      overflow: hidden;
      padding-top: 98px;
      margin: 0 auto;

      #container-left {
         float: left;
         width: 210px;
         margin-left: 11px;
         .content-box {
            display: block;
            width: 100%;

         }
         #user-learning {
            width: 100%;
            margin-left: 0;
         }
      }

      #container-right {
         float: right;
         width: calc(100% - 210px - 32px);
         margin-right: 11px;
      }
   }
}

@media (min-width: $media-desktop){
   #container {
      width: 900px;
      margin: 0 auto;
      overflow: hidden;

      #container-left {
         margin-left: 0;
      }

      #container-right {
         float: right;
         width: 675px;
         margin-right: 0;
      }
   }
}


.content-box {
   box-sizing: border-box;
   width: 100%;
   padding: 12px;
   border: 1px solid #e1e8ed;
   background-color: #ffffff;
   border-radius: 4px;
   margin-bottom: 12px;

   .content-header {
      border-bottom: 1px solid #cecece;
      padding-top: 5px;
      margin-bottom: 15px;
      p {
         font-size: 20px;
         margin-left: 5px;
         font-weight: bold;
      }
   }

   .content-section {
      font-size: 14px;
      font-weight: bold;
      margin: 19px 0;
   }

   p {
      line-height: 17px;
      margin-bottom: 12px;
   }
}

#user-profile {
   text-align: center;
   #user-thumbnail {
      width: 80px;
      height: 80px;
      border: 1px solid #eeeeee;
   }
   #user-information {
      margin-top: 9px;
      #user-name { font-size: 17px; }
      #user-division{ margin: 7px 0 4px 0; }
      a {
         font-size: 11px;
         color: #00bfff;
         &:hover { text-decoration: underline; }
      }
      #user-archivements {
         margin-top: 9px;
         .user-archivement {
            padding: 4px 5px 2px 5px;
            text-align: center;
            display: inline-block;
            .section { font-size: 12px; }
            .count {
               margin-left: 4px;
               padding: 2px 3px;
               background-color: #eaeaea;
               border-radius: 7px;
               color: #555555;
               font-size: 11px;
               font-weight: bold;
            }

            &:hover {
               padding-bottom: 0;
               border-bottom: 2px solid #0066cc;
               cursor: pointer;
            }
         }
      }
   }
}

/************************************************


                  Parts



************************************************/
.btn {
   color: #ededed;
   font-weight: bold;
   background-color: #07d26c;
   border: 1px solid #07d26c;
   padding: 5px 12px;
   border-radius: 3px;

   &:hover {
      cursor: pointer;
      background-color: #05ad59;
   }
}

/************************************************


                     Mailer



************************************************/

#mailer {
   p { font-size: 11px; }
}

/************************************************


                  Pagination



************************************************/

#pagination {
   text-align: center;
   margin-top: 4px;
   cursor: context-menu;
   .page {
      display: inline-block;
      a {
         background-color: #ffffff;
         padding: 7px;
         border-radius: 4px;
         border: 1px solid #dedede;
         font-size: 11px;
         color: #0066cc;
      }
      &:hover {
         a {
            background-color: #0066cc;
            cursor: pointer;
            color: #ffffff;
         }
      }
   }
   .next, .prev {
      display: inline-block;
      a {
         i {
            background-color: #ffffff;
            padding: 7px;
            border-radius: 4px;
            border: 1px solid #dedede;
            font-size: 11px;
            color: #0066cc;
         }
      }
      &:hover {
         a {
            i {
               background-color: #0066cc;
               cursor: pointer;
               color: #ffffff;
            }
         }
      }
   }
   .gap {
      display: inline-block;
      i {
         background-color: #ffffff;
         padding: 7px;
         border-radius: 4px;
         border: 1px solid #dedede;
         font-size: 11px;
         color: #0066cc;
      }
      &:hover {
         i {
            background-color: #ffffff;
            cursor: context-menu;
            color: #0066cc;
         }
      }
   }
   .current {
         padding: 10px 7px;
         border-radius: 4px;
         border: 1px solid #dedede;
         font-size: 11px;
         background-color: #0066cc;
         color: #ffffff;
         &:hover { cursor: context-menu; }
   }
}
