/************************************************


                     Variables



************************************************/
$media-desktop: 970px;
$media-tablet: 768px;

#header {
   z-index: 0;
   position: fixed;
   width: 100%;
   background-color: #0066cc;
   padding-bottom: 1px;
   margin-bottom: 20px;
   * { color: #ffffff; }
   .header-content {
      display: inline-block;
      font-size: 15px;
      padding: 14px;
      transition-property: color, background;
      transition-duration: 0.2s;
      &:hover {
         cursor: pointer;
         color: #4d94ff;
      }
   }
   #header-menu {
      margin-left: 5px;
      &:hover {
         border-radius: 3px;
         background-color: #b3d1ff;
      }
   }
   #header-title {
      letter-spacing: 1px;
      margin-left: 13px;
      padding: 12px 2px 13px 2px;
      font-family:  ‘Lucida Console’, Monaco, monospace;
      span { font-size: 21px; }
   }
   #header-notify {
      float: right;
      margin: 2px 5px 0 0;
      position: relative;
      #notify-count {
         position: absolute;
         top: 4px;
         right: 3px;
         display: block;
         width: 16px;
         padding: 3px 0;
         text-align: center;
         border-radius: 6px;
         background: #e60000;
         font-size: 10px;
      }
      &:hover {
         border-radius: 3px;
         background-color: #b3d1ff;
      }
   }
}
.wrapper {
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 6px solid #ffffff;
   border-left: 10px solid transparent;
}

#dropdown-menu {
   z-index: 1;
   position: fixed;
   top: 26px;
   left: 10px;

   .wrapper { margin-left: 6px; }

   #menu-items {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: #888888 1px 2px 1px 1px;
      padding: 7px 0;
      .menu-item {
         a {
            display: block;
            padding: 10px 21px 10px 16px;
            color: #000000;
            i {
               display: inline-block;
               width: 16px;
               font-size: 14px;
               margin-right: 6px;
            }
            &:hover { background-color: #eeeeee; }
         }
      }
   }

}

#dropdown-notify {
   z-index: 1;
   position: fixed;
   top: 26px;
   right: 10px;

   .wrapper { margin-left: 228px; }

   #notify-items {
      width: 255px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: #888888 1px 2px 1px 1px;
      padding: 7px 0;
      .notify-item {
         .notify-box {
            display: block;
            overflow: hidden;
            padding: 8px 14px;
            .notify-thumbnail {
               float: left;
               width: 46px;
               height: 46px;
               border: 1px solid #eeeeee;
            }
            .notify-content {
               float: right;
               width: 165px;

               .notify-created-at {
                  margin-top: 12px;
                  color: #8c8c8c;
                  font-size: 11px;
               }
            }
            &:hover { background-color: #eeeeee; }
         }
      }
   }

}

@media (min-width: $media-tablet){
   #header {
      #header-menu { margin-left: 16px; }
      #header-notify { margin-right: 16px; }
   }
   #dropdown-menu {
      .wrapper { margin-left: 16px; }
   }
   #dropdown-notify {
      .wrapper { margin-left: 261px; }
      #notify-items {
         width: 300px;
         .notify-item {
            .notify-box {
               .notify-content { width: 215px; }
            }
         }
      }
   }
}

@media (min-width: $media-desktop){
   #header {
      #header-menu { margin-left: 24px; }
      #header-notify { margin-right: 24px; }
   }
   #dropdown-menu {
      .wrapper { margin-left: 13px; }
      left: 22px;
   }
   #dropdown-notify {
      .wrapper { margin-left: 266px; }
      right: 22px;
   }
}


#footer {
   background-color: #282828;
   margin-top: 20px;
   padding: 22px;
   * { color: #ffffff; }
   #footer-title {
      letter-spacing: 1px;
      font-family:  ‘Lucida Console’, Monaco, monospace;
      span { font-size: 23px; }
   }

   #footer-main {
      margin-top: 22px;
      .footer-content {
         font-size: 12px;
         margin-top: 9px;
      }
   }

   #footer-copyright {
      font-size: 11px;
      margin-top: 56px;
      color: #595959;
   }
}

@media (min-width: $media-tablet){
   #footer {
      padding: 22px 160px;

      #footer-main {
         .footer-content {
            display: inline-block;
            margin-right: 16px;
         }
      }

      #footer-copyright { margin-top: 150px; }
   }
}
