/************************************************


                     Variables



************************************************/
$media-desktop: 920px;
$media-tablet: 768px;
$media-phone: 450px;

$success: #07d26c;
$info: #80ccff;
$warning: #ffcc00;
$danger: #ff3333;

/************************************************


                     Header



************************************************/
#header {
   z-index: 1;
   position: fixed;
   width: 100%;
   padding-bottom: 1px;
   margin-bottom: 20px;
   background-color: #ffffff;

   #header-main {
      background-color: #0066cc;
      * { color: #ffffff; }
      .header-content {
         display: inline-block;
         font-size: 15px;
         padding: 7px;
         transition-property: color, background;
         transition-duration: 0.2s;
         * {
            transition-property: color, background;
            transition-duration: 0.2s;
         }
         &:hover {
            cursor: pointer;
            color: #ffffff;
         }
      }

      .header-icon {
         &:hover {
            border-radius: 3px;
            background-color: #1a8cff;
         }
      }
      #header-menu { margin-left: 10px; }
      #header-title {
         letter-spacing: 1px;
         margin: 4px 0 0 6px;
         padding: 12px 2px 13px 2px;
         font-family:  ‘Lucida Console’, Monaco, monospace;
         span { font-size: 21px; }
         &:hover {
            color: #1a8cff;
            span { color: #1a8cff; }
         }
      }
      #header-notify {
         float: right;
         margin: 11px 4px 0 0;
         position: relative;
         #notify-count {
            position: absolute;
            top: -2px;
            right: -1px;
            display: block;
            padding: 2px 4px;
            text-align: center;
            border-radius: 6px;
            color: #ffffff;
            background: #e60000;
            font-size: 10px;
         }
      }
      #header-user {
         float: right;
         margin: 12px 10px 0 0;
      }
   }

   #header-menu-contents {
      display: none;
      background-color: #0066cc;
      padding-left: 35px;
      .header-menu-content {
         display: inline-block;
         a {
            font-size: 11px;
            display: block;
            padding: 12px;
            color: #ffffff;
            transition-property: color, background;
            transition-duration: 0.2s;
            &:hover {
               background-color: #1a8cff;
            }
         }

      }
   }
}

.dropdown-content {
   display: none;
   z-index: 1;
   position: fixed;
   top: 43px;
   border: 1px solid #dedede;
   border-radius: 4px;
   background-color: #ffffff;
   box-shadow: #eeeeee 1px 1px 1px 0;
}

#dropdown-menu {
   left: 10px;
   .menu-items {
      padding: 7px 0;
      .menu-item {
         a {
            display: block;
            padding: 10px 21px 10px 16px;
            color: #000000;
            i {
               display: inline-block;
               width: 16px;
               font-size: 14px;
               margin-right: 6px;
            }
            &:hover { background-color: #eeeeee; }
         }
      }
   }

}

#dropdown-notify {
   right: 10px;

   #notify-items {
      width: 255px;
      padding: 7px 0;
      .notify-item {
         .notify-box {
            display: block;
            overflow: hidden;
            padding: 8px 14px;
            .notify-thumbnail {
               float: left;
               width: 46px;
               height: 46px;
               border: 1px solid #eeeeee;
            }
            .notify-content {
               float: right;
               width: 165px;

               .notify-created-at {
                  margin-top: 12px;
                  color: #8c8c8c;
                  font-size: 11px;
               }
            }
            &:hover { background-color: #eeeeee; }
         }
      }
   }

}

#dropdown-user {
   right: 10px;

   .menu-items {
      padding: 7px 0;
      .menu-item {
         a {
            display: block;
            padding: 10px 21px 10px 16px;
            color: #000000;
            i {
               display: inline-block;
               width: 16px;
               font-size: 14px;
               margin-right: 6px;
            }
            &:hover { background-color: #eeeeee; }
         }
      }
   }

}



@media (min-width: $media-tablet){
   #header {
      #header-main {
         background-color: #ffffff;
         * { color: #0066cc; }
         .header-content {
            &:hover {
               * { color: #ffffff; }
            }
         }
         .header-icon {

         }
         #header-menu { margin-left: 16px; }
         #header-title {
            span { color: #0066cc; }
            &:hover {
               opacity: 0.6;
            }

         }

         #header-user { margin-right: 16px; }
      }
      #header-menu-contents { display: block;}
   }
   #dropdown-menu {
   }
   #dropdown-notify {
      #notify-items {
         width: 300px;
         .notify-item {
            .notify-box {
               .notify-content { width: 215px; }
            }
         }
      }
   }
   #dropdown-user {
   }
}

@media (min-width: $media-desktop){
   #header {
      #header-main {
         width: 950px;
         margin: 0 auto;
      }
      #header-menu-contents {
         padding-left: calc(100% - 950px - ((100% - 950px) / 2) + 35px);
      }

   }
   #dropdown-menu {
      left: calc(100% - 950px - ((100% - 950px) / 2) + 10px);
   }
   #dropdown-notify {
      right: calc(100% - 950px - ((100% - 950px) / 2) + 22px);
   }
   #dropdown-user {
      right: calc(100% - 950px - ((100% - 950px) / 2) + 10px);
   }
}

/************************************************


                     Footer



************************************************/
#footer {
   background-color: #282828;
   margin-top: 20px;
   padding: 22px;
   * { color: #ffffff; }
   #footer-title {
      letter-spacing: 1px;
      font-family:  ‘Lucida Console’, Monaco, monospace;
      span { font-size: 23px; }
   }

   #footer-main {
      margin-top: 22px;
      .footer-content {
         font-size: 12px;
         margin-top: 9px;
      }
   }

   #footer-copyright {
      font-size: 11px;
      margin-top: 56px;
      color: #595959;
   }
}

@media (min-width: $media-tablet){
   #footer {
      padding: 22px 160px;

      #footer-main {
         .footer-content {
            display: inline-block;
            margin-right: 16px;
         }
      }

      #footer-copyright { margin-top: 150px; }
   }
}


/************************************************


                     Flash



************************************************/
#flash {
   width: calc(100% - 22px);
   margin: -3px 0 9px 0;
   display: block;
   text-align: center;
   border-radius: 8px;

   #flash-content {
      font-size: 13px;
      color: #ffffff;
      font-weight: bold;
      padding: 11px 0;
      text-align: center;
      opacity: 0.8;

      &:hover {
         cursor: pointer;
         opacity: 0.5;
      }
   }
}
.flash-success { background-color: $success; }

.flash-info { background-color: $info; }

.flash-warning { background-color: $warning; }

.flash-danger { background-color: $danger; }

@media (min-width: $media-tablet){
   #flash { margin: -3px auto 9px 11px; }
}

@media (min-width: $media-desktop){
   #flash {
      margin: -3px 0 9px 0;
      width: 100%;
   }
}
