@import "font-awesome";

/************************************************


                     Variables



************************************************/
$media-desktop: 920px;
$media-tablet: 768px;


body {
   z-index: 0;
   margin: 0 auto;
   width: 100%;
   overflow-x: hidden;
   * {
      font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
      "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic";
      font-size: 13px;
      color: #7373a5; // Keep trying to change until I'm satisfied
   }
   background-color: #e1e8ed;
}

a {
   text-decoration: none;
}
