@import "font-awesome";

/************************************************


                     Variables



************************************************/
$media-desktop: 970px;
$media-tablet: 768px;


body {
   margin: 0 auto;
   width: 100%;
   * {
      font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
      "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic";
      font-size: 13px;
      color: #4d4d4d;

   }
}

a {
   text-decoration: none;
}
