// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/************************************************


                     Variables



************************************************/
$media-desktop: 920px;
$media-tablet: 768px;
$media-phone: 450px;

$success: #07d26c;
$info: #80ccff;
$warning: #ffcc00;
$danger: #ff3333;

/************************************************


                  MainContents



************************************************/
#posts {
   .post {
      .post-main {
         overflow: hidden;
         .post-imgs {
            float: left;
            width: 40px;
            .post-thumbnail {
               width: 38px;
               height: 38px;
               border: 1px solid #eeeeee;
               margin-bottom: 10px;
            }
            .post-condition {
               text-align: center;
               p {
                  font-size: 11px;
                  font-weight: bold;
               }
               .post-condition-about {
                  display: block;
                  border-radius: 6px;
                  width: 34px;
                  padding: 3px 2px;
                  color: #ffffff;
               }
               .post-about-blank, .post-about-comfort, .post-about-safe,
               .post-about-caution, .post-about-danger { background-color: #00b359; }
               .post-about-condition { background-color: #005ce6; }
               .post-about-learning { background-color: #ff8000; }
               .post-icon {
                  width: 32px;
                  height: 32px;
                  border: 1px solid #eeeeee;
               }
               .post-condition-result {
                  font-size: 9px;
                  margin-top: 3px;
               }
               .post-result-comfort { color: $success; }
               .post-result-safe { color: $info; }
               .post-result-caution { color: $warning; }
               .post-result-sanger { color: $danger; }
            }
         }
         .post-contents {
            float: left;
            width: calc(100% - 40px - 12px);
            margin-left: 12px;

            .post-header {
               position: relative;
               li { display: block; }
               .post-user {
                  margin-top: 3px;
                  font-size: 13px;
                  font-weight: bold;
               }
               .post-posted-at {
                  margin: 5px 0;
                  font-size: 10px;
                  color: #595959;
               }
               .post-command {
                  * {
                     width: 20px;
                     text-align: center;
                     display: inline-block;
                     padding: 2px;
                     margin-left: 7px;
                     font-size: 16px;
                     border-radius: 3px;
                     &:hover {
                        cursor: pointer;
                        color: #b3d9ff;
                        * { color: #b3d9ff; }
                     }
                  }
               }
               .post-direct-action { display: none; }
               .post-menu {
                  position: absolute;
                  top: -3px;
                  right: -1px;
               }
               .post-dropdown {
                  display: none;
                  position: absolute;
                  top: 16px;
                  right: 2px;
                  background-color: #ffffff;
                  padding: 4px;
                  border: 1px solid #dedede;
                  border-radius: 4px;
                  box-shadow: #eeeeee 1px 1px 1px 0;
                  a {
                     display: block;
                     padding: 6px;
                     i { margin-right: 4px; }
                     &:hover { background-color: #eeeeee; }
                  }
               }
            }

            .post-category {
               width: 80px;
               margin-top: 6px;
               padding: 6px 0;
               text-align: center;
               background-color: #00e68a;
               font-size: 14px;
               font-weight: bold;
               color: #ffffff;
            }

            .post-line {
               margin-top: 7px;
            }
         }
      }
      .post-reaction {
         margin: 15px 0 0 14px;
         a {
            margin-right: 15px;
            font-size: 11px;
            i {
               margin-right: 4px;
               font-size: 16px;
            }
            span {
               margin-left: 4px;
               text-decoration: underline;
            }
            .reaction-str {
               text-decoration: none;
               display: none;
            }
            &:hover {
               color: #b3d9ff;
               *{ color: #b3d9ff; }
            }
         }

      }

      .comment {
         margin-top: 17px;
         border-top: 1px solid #dedede;
         padding-top: 16px;
         overflow: hidden;
         .comment-thumbnail {
            float: left;
            width: 36px;
            height: 36px;
         }

         .comment-information {
            float: right;
            width: calc(100% - 40px - 12px);

            .comment-header {
               .comment-user {
                  font-size: 13px;
                  font-weight: bold;
               }
               .comment-posted-at {
                  margin-left: 6px;
                  font-size: 10px;
                  color: #595959;
               }
               .comment-command {
                  a {
                     width: 20px;
                     text-align: center;
                     display: inline-block;
                     padding: 2px;
                     margin-left: 7px;
                     font-size: 16px;
                     border-radius: 3px;
                     &:hover {
                        * { color: #b3d9ff; }
                     }
                  }
               }
            }
            .comment-content {
               margin-top: 7px;
            }
         }
      }
   }
}

@media (min-width: $media-phone) {
   #posts {
      .post {
         .post-main {
            .post-imgs {
               width: 62px;
               .post-thumbnail {
                  width: 60px;
                  height: 60px;
               }
               .post-condition {
                  .post-condition-about {
                     width: 57px;
                  }
                  .post-condition-result {
                     font-size: 12px;
                  }
                  img {
                     width: 44px;
                     height: 44px;
                  }
               }
            }
            .post-contents {
               width: calc(100% - 62px - 18px);
               margin-left: 18px;
               .post-header {
                  li { display: inline-block; }
                  .post-posted-at { margin: 0 6px; }
               }
            }
         }
         .post-reaction {
            a {
               display: inline-block;
               .reaction-str { display: inline; }
            }
         }

         .comment {
            .comment-thumbnail {
               float: left;
               margin-left: 12px;
            }

            .comment-information {
               float: right;
               width: calc(100% - 52px - 12px);

               .comment-header {
                  margin-top: -5px;
                  li { display: inline; }
               }
            }
         }
      }
   }
}

@media (min-width: $media-tablet) {
   #posts {
      .post {
         .post-main {
            .post-contents {
               .post-header {
                  .post-direct-action {
                     display: inline;
                  }
                  .post-menu {
                     display: none;
                  }
               }
            }
         }
      }
   }
}

/************************************************


                  Input forms



************************************************/

#post-form {
   position: fixed;
   z-index: 3;
   top: 95px;
   left: 10px;

   width: calc(100% - 22px);
   .form-line {
      margin-top: 12px;
      .form-input {
         width: calc(100% - 20px);
         min-height: 100px;
         padding: 9px;
      }

      .form-condition {
         margin: -7px 0 12px 0;
         li {
            width: 100%;
            display: inline-block;
            width: 34px;
            margin-right: 8px;

            .condition-button {
               display: inline-block;
               -moz-appearance: none;
               -webkit-appearance: none;
               background-size: 28px 28px;
               background-repeat: no-repeat;
               width: 39px;
               height: 36px;
               background-position: center;
               border: 1px solid #ededed;
               border-radius: 3px;
               &:hover {
                  cursor: pointer;
                  background-color: #ededed;
               }

               &:focus {
                  background-color: #ededed;

               }
            }
            .button-blank { background-image: url('blank.png') }
            .button-comfort { background-image: url('comfort.png') }
            .button-safe { background-image: url('safe.png') }
            .button-caution { background-image: url('caution.png') }
            .button-danger { background-image: url('danger.png') }

            .condition-label {
               display: none;
               min-height: 10px;
               text-align: center;
               padding: 1px 6px;
               font-size: 10px;
               border-radius: 5px;
            }
            .label-activated {
               color: #ffffff;
               background-color: #1a8cff;
            }
         }
      }
   }
}

@media (min-width: $media-phone){
   #post-form {
      .form-line {
         .form-input { min-height: 170px;}
         .form-condition {
            li {
               display: inline-block;
               width: auto;

               .condition-button {
                  display: block;
                  background-size: 44px 39px;
                  background-repeat: no-repeat;
                  width: 55px;
                  height: 49px;
               }

               .condition-label {
                  display: block;
                  margin-top: 4px;
               }
            }
         }
      }
   }
}

@media (min-width: $media-desktop){
   #post-form {
      left: 50%;
      margin-left: -450px;
      width: 900px;
   }
}
