<div id="footer">
   <p id="footer-title"><span>A</span>ctive<span>R</span>eco<span>B</span>ook</p>
   <ul id="footer-main">
      <li class="footer-content"><%= link_to "Active Reco Book とは", about_path %></a></li>
      <li class="footer-content"><%= link_to "よくある質問", help_path %></li>
      <li class="footer-content"><%= link_to "利用規約", convention_path %></li>
   </ul>
   <p id="footer-copyright">© 2017 Shantty_Y</p>
</div>
